[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
contractions = "*"
num2words = "*"
sklearn = "*"
bs4 = "*"

[requires]
python_version = "3.6"
